.title{
    color:#02ccba
}
.Yanko{
    width :100px;
    background-color :#FeDDFF;
    color:#0000FF;
    border :2px solid #00FF25;
}
.Hayden{
    width :150px;
}
.T001{
    background-color: #FFCCAA;
    width:300px;
}
